            <div style="text-align:center;margin-top:15px;">
				Copyright &copy; {{ site.domain }}, 码农网络技术分享 <a href="http://blog.nongbin.vip">个人博客</a>. <a href="https://github.com/nongbin">Github</a>
				<br/>
				<!--添加背景音乐-->
				<embed src="huanghun.mp3" hidden="true" autostart="true" loop="true">
				<!--END-->
				
				<!-- CNZZ统计 -->
				<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1264371752'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1264371752%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
				<!-- Github项目 -->
				<iframe
						style="margin-left: 2px; margin-bottom:-5px;"
						frameborder="0" scrolling="0" width="91px" height="20px"
						src="https://ghbtns.com/github-btn.html?user=nongbin&repo=Blog&type=star&count=true" >
				</iframe>
				<!-- 不蒜子站点统计 -->
				<span id="busuanzi_container_site_pv" style="display: inline;">
						本站总访问量<span id="busuanzi_value_site_pv"></span>次
				</span>
				
            </div>
